__pycache__
.cache
*.egg-info
.tox
.coverage
node_modules
src/db.sqlite
src/.coverage

nightwatch/node_modules
nightwatch/dist
nightwatch/reports
nightwatch/yarn.lock

db.sqlite3
.pytest_cache
yarn-error.log
_build/